# Each line is a file pattern followed by one or more owners.

# Default/fallback ownership
* @equinor/ecalc-ops-team

# eCalc Lib
/src/ @equinor/ecalc-core-library-team
/tests/ @equinor/ecalc-core-library-team

/src/libecalc/version.py @equinor/ecalc-ops-team
pyproject.toml @equinor/ecalc-ops-team @equinor/ecalc-core-library-team

# Documentation
/docs/ @equinor/ecalc-technical-doc-writers

# Manual changelog
/docs/drafts/next.draft.md @equinor/ecalc-core-library-team

# Changelog
/docs/docs/changelog/ @equinor/ecalc-ops-team
/docs/.npmrc @equinor/ecalc-ops-team
/docs/package-lock.json @equinor/ecalc-ops-team
