# Each line is a file pattern followed by one or more owners.

# Default/fallback ownership
* @equinor/ecalc-ops-team

# eCalc Lib
/src/ @equinor/ecalc-core-library-team
/tests/ @equinor/ecalc-core-library-team

# Examples
/examples/ @equinor/ecalc-core-library-team

# Documentation
/docs/ @equinor/ecalc-technical-doc-writers

# Changelog
/docs/docs/changelog/ @equinor/ecalc-ops-team
