repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch  # Do not allow commits to master/main branch
      - id: debug-statements  # Looks for debugger imports and `breakpoint()`
      - id: mixed-line-ending  # Replaces mixed line ending to the most common
        exclude: |
          (?x)^(
              \.ts|
              \.tsx
          )
      - id: detect-private-key  # Checks for private keys
      - id: check-merge-conflict  # Check for merge conflict strings
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.6.4'
    hooks:
      - id: ruff
        files: ^(src/.*\.py|tests/.*\.py)$
        exclude: gen/|\.git|\.hg|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Check for typos in code
        additional_dependencies: [ tomli ]
        exclude: docs/docs/changelog/changelog.md|.*\.ipynb
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        pass_filenames: false
        args: [ '--config-file=./pyproject.toml', 'src/' ]
        additional_dependencies:
          - types-PyYAML
          - pydantic
          - numpy
          - typer
          - pytest
          - orjson
          - py4j
          - types-requests
          - pandas-stubs
          - types-networkx
          - types-shapely
          - scipy-stubs
          - "ruamel.yaml"
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.17.0
    hooks:
      - id: commitlint
        stages: [ commit-msg ]
        additional_dependencies: [ '@commitlint/config-conventional' ]

  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        exclude: tests|neqsim|fixtures|conftest

  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.87.2
    hooks:
      - id: trufflehog
        stages: [ "pre-commit" ]
        entry: trufflehog git file://. --since-commit HEAD --fail -x .trufflehogignore

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [ "--py311-plus" ]
