---
slug: "{{ version_slug }}"
title: "{{ version_title }}"
authors: ecalc-team
tags: [release, eCalc]
sidebar_position: {{ index }}
---

# eCalc {{ version }}

## Features

## Bug Fixes

## Breaking changes

### CLI

