---
slug: "{{ version_slug }}"
title: "{{ version_title }}"
authors: ecalc-team
tags: [release, eCalc]
sidebar_position: {{ index }}
---

# eCalc {{ version }}

## Features

## Bug Fixes

## Breaking changes

### CLI

- Remove `operational_settings_results` from compressor/pump system json result. In most use-cases this result isn't used.
  If you used this result, let us know, then we can consider supporting your use-case.

