name: "On push to main"
on:
  push:
    branches:
      - main

permissions: {}

jobs:

  # NOTE: This job is needed in order to register a deployment in github (for a given environment), here libecalc-test. We need that in order
  # to be able to automatically move issues on the board to Done.
  deploy-dummy:
    runs-on: ubuntu-24.04
    environment:
      name: libecalc-test
    steps:
      - name: dummy
        run: echo "Deployed"

  ensure-code-quality:
    permissions:
      contents: read
    uses: ./.github/workflows/ensure-code-quality.yml

  test-library:
    permissions:
      contents: read
    uses: ./.github/workflows/test-library.yml

  publish-docs:
    permissions:
      contents: write
    uses: ./.github/workflows/publish-docs.yml
    secrets: inherit

#  trigger-external-workflow:
#    uses: ./.github/workflows/trigger-external-workflow.yml
#    secrets: inherit


# NOTE: We trigger release-please in the on_workflow_run instead, freeing it from this workflow,
# and creating a separate workflow for it, that we again can listen to and trigger the publish workflow from.
# Also, we want to build and test the library before we trigger the release-please workflow,
# so that we can be sure that the library is in a good state before we release it, and instead of doing it twice,
# we wait until that is done on the main branch first.
