name: "On push to any branch (not main)"

on:
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - '**'

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ensure-code-quality:
    permissions:
      contents: read
    uses: ./.github/workflows/ensure-code-quality.yml

  test-library:
    permissions:
      contents: read
    uses: ./.github/workflows/test-library.yml

  test-docs:
    permissions:
      contents: read
    uses: ./.github/workflows/test-docs.yml
