name: release-please

on:
  workflow_dispatch:
  workflow_run:
    workflows: [ "On push to main" ]
    types:
      - completed

permissions: {}

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      issues: write
    runs-on: ubuntu-24.04
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: 'release-please-config.json'
          manifest-file: '.release-please-manifest.json'
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

  create-output-artifact:
    needs: release-please
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - name: Create output directory
        run: mkdir -p release-please-data
      - name: echo release_created output
        run: echo ${{ needs.release-please.outputs.release_created }}
      - name: set release created
        if: ${{ needs.release-please.outputs.release_created == 'true' }}
        run: |
            echo '{"release_created":"true"}' > release-please-data/outputs.json
      - name: set release NOT created
        if: ${{ needs.release-please.outputs.release_created != 'true' }}
        run: |
          echo '{"release_created":"false"}' > release-please-data/outputs.json
      - name: Upload release-please data
        uses: actions/upload-artifact@v7
        with:
          name: release-please-outputs
          path: release-please-data/
