name: Test Library
on:
  workflow_dispatch:
  workflow_call:

permissions: {}

jobs:
  test-library:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.12", "3.13", "3.14" ]
        group: [ 1,2,3,4,5 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: List pydantic version
        run: uv pip show pydantic

        # TODO: Test on the installed package instead of the source code directly
        # in order to verify that the package is correctly installed
      - name: Run tests
        timeout-minutes: 10
        run: uv run python -m pytest --splits 5 --splitting-algorithm least_duration --group=${{ matrix.group }}

      - name: Build artifacts
        run: uv build

